// signIn section start
.signIn-section {
    height: 100%;
    margin-top: 70px;
    padding-top: 20px;
    background: transparent linear-gradient(0deg, #ffa800 0%, #fea700 61%, #c48100 85%, #805400 100%) 0% 0% no-repeat
        padding-box;
    form {
        .logo-img {
            width: 150px;
        }
        .check-rem {
            justify-content: space-between;
            white-space: nowrap;
            @media (max-width: 576px) {
                flex-direction: column;
                align-items: center;
            }
            .form-check {
                [type="checkbox"]:not(:checked) + .check-label,
                [type="checkbox"]:checked + .check-label {
                    padding-left: 30px;
                }
                /* checkbox aspect */
                [type="checkbox"]:not(:checked) + .check-label:before,
                [type="checkbox"]:checked + .check-label:before {
                    top: 3;
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                }
                /* checked mark aspect */
                [type="checkbox"]:not(:checked) + .check-label:after,
                [type="checkbox"]:checked + .check-label:after {
                    content: "\2713\0020";
                    left: 5px;
                    font-size: 15px;
                }
            }
            label {
                font: 14px "RB";
                color: #0d1b23;
                text-shadow: 0px 3px 6px #00000029;
                opacity: 0.89;
            }
            a {
                font: 14px "RB";
                color: #0d1b23;
                opacity: 0.89;
            }
        }
        .form-label-group {
            input {
                margin-bottom: 10px;
                border: none;
                background: #ffffff 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 10px;
                &::placeholder {
                    font: 15px "RB";
                    letter-spacing: 0.32px;
                    color: #b5b5b5;
                    opacity: 0.6;
                }
            }
        }
        .select-btn {
            margin-bottom: unset;
        }
    }
}

// signIn section end

// sign-origin modal start
#sign-origin {
    padding: 40px 33% !important;
    @media (max-width: 992px) {
        padding: 40px 30% !important;
    }
    @media (max-width: 767px) {
        padding: 40px 20% !important;
    }
    @media (max-width: 576px) {
        padding: 40px 10% !important;
    }
    .modal-dialog {
        .modal-content {
            .modal-body {
                @media (max-width: 992px) {
                    padding: 0 20px;
                }
            }
            .selection-block {
                text-align: center;
                h5 {
                    font: 20px "RB";
                    color: #c90000;
                    text-transform: capitalize;
                }
                label {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.modal .modal-dialog .modal-content .modal-body .selection-block .form-group .bootstrap-select > .dropdown-toggle {
    padding: 12px 15px;
}
.modal .modal-dialog .modal-content .modal-body form .privacy-check {
    // display: flex;
    flex-direction: row;
    @media (max-width: 1199px) and (min-width: 992px) {
        flex-direction: column;
    }
    @media (max-width: 576px) {
        flex-direction: column;
    }
}
.modal .modal-dialog .modal-content .modal-body form .form-group label a {
    color: #c90000;
    font-size: 14px;
    cursor: pointer;
}

#privacy-policy {
    .modal-dialog {
        .modal-content {
            .modal-body {
                color: #0d1b23;
                h4 {
                    font: 22px "RB";
                    color: #c90000;
                }
                .sub-title {
                    font: 18px "RB";
                }
                .condition-txt {
                    font: 14px "RM";
                    span {
                        color: #c90000;
                    }
                }
                .see-more {
                    color: #c90000;
                    background: unset;
                    border: none;
                    display: flex;
                    align-items: center;
                    svg{
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
